@font-face {
    font-family: "Gotham Rounded";
    src: url("//sdp-hc.s3.amazonaws.com/fonts/GothamRounded-Bold.otf") format("opentype");
    src: url("//sdp-hc.s3.amazonaws.com/fonts/GothamRounded-Bold.eot?#iefix") format("embedded-opentype"),
      url("//sdp-hc.s3.amazonaws.com/fonts/GothamRounded-Bold.woff2") format("woff2"),
      url("//sdp-hc.s3.amazonaws.com/fonts/GothamRounded-Bold.woff") format("woff"),
      url("//sdp-hc.s3.amazonaws.com/fonts/GothamRounded-Bold.ttf") format("truetype"),
      url("//sdp-hc.s3.amazonaws.com/fonts/GothamRounded-Bold.svg#GothamRounded-Bold") format("svg");
  }
  
body {
    margin: 0;
    font-family: "Gotham Rounded";
    background-color: #F9D778;
}

#head {
    width: 100%;
    background-color: #B2381B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

#head img {
    margin-top: 20px;
}

.description {
    width: 80%;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

#main {
    width: 100%;
    font-family: "Gotham Rounded";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    margin-bottom: 50px;
}

#main img {
    width: 50px;
}

#main video {
    width: 80%;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    background-color: #543438;
    color: white;
    padding: 20px;
}

.social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social-media-list img {
    width: 30px !important;
}

.person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

#preview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

#footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: 0;
    background-color: #9E2D16;
    width: 100%;
    height: 30px;
}